@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima_nova_extrabold.eot');
    src: url('../fonts/proxima_nova_extrabold.eot') format('embedded-opentype'), url('../fonts/proxima_nova_extrabold.woff2') format('woff2'), url('../fonts/proxima_nova_extrabold.woff') format('woff'), url('../fonts/proxima_nova_extrabold.ttf') format('truetype'), url('../fonts/proxima_nova_extrabold.svg#proxima_nova_extrabold') format('svg');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima_nova_bold.eot');
    src: url('../fonts/proxima_nova_bold.eot') format('embedded-opentype'), url('../fonts/proxima_nova_bold.woff2') format('woff2'), url('../fonts/proxima_nova_bold.woff') format('woff'), url('../fonts/proxima_nova_bold.ttf') format('truetype'), url('../fonts/proxima_nova_bold.svg#proxima_nova_bold') format('svg');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima_nova_regular.eot');
    src: url('../fonts/proxima_nova_regular.eot') format('embedded-opentype'), url('../fonts/proxima_nova_regular.woff2') format('woff2'), url('../fonts/proxima_nova_regular.woff') format('woff'), url('../fonts/proxima_nova_regular.ttf') format('truetype'), url('../fonts/proxima_nova_regular.svg#proxima_nova_regular') format('svg');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima_nova_light.eot');
    src: url('../fonts/proxima_nova_light.eot') format('embedded-opentype'), url('../fonts/proxima_nova_light.woff2') format('woff2'), url('../fonts/proxima_nova_light.woff') format('woff'), url('../fonts/proxima_nova_light.ttf') format('truetype'), url('../fonts/proxima_nova_light.svg#proxima_nova_light') format('svg');
    font-style: normal;
    font-weight: 300;
}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;background-position: center; background-repeat: no-repeat;
   }
:not(a):after,:not(a):before,:not(br):after,:not(br):before,:not(img):after,:not(img):before,:not(span):after,:not(span):before{content:" ";display:block;width:100%;height:0;clear:both}
a:after,a:before,table:after,table:before,tr:after,tr:before,td:after,td:before,br:after,br:before,img:after,img:before,span:after,span:before{content:none}
.wrap{position:relative;margin:0 auto;max-width:980px;width:100%;height:100%;z-index: 2;text-align: center;}
.clear{clear:both}
.section,section{width:100%;overflow:hidden;position:relative;z-index: 1;min-width:980px;}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center}
body{font-family: 'proxima';font-weight: 400;letter-spacing: 0.027em;}
a{text-decoration:none;color:inherit;outline:0!important}

#maket {
    width: 100%;
    height: 719px;
    background: url(../img/maket2.jpg) no-repeat center top;
    opacity: 0.4;
    position: absolute;
    top: 0;
    z-index: 5;
    left: 0;
}

.block-new {
    /* background: url(../img/bg_bg.png)no-repeat bottom -368px right -261px #1b1b1b; */
    position: relative;
    width: 100%;
    /* min-height: 719px; */
    height: 440px;
    padding-top: 50px;
}
.block header {
    position: relative;
    top: 9.1%;
    width: 100%;
    transform: translateY(-50%);
}
.logo {
    background: url(../img/logo.png)no-repeat top center;
    width: 218px;
    height: 44px;
    margin-left: 7px;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.opros {
    color: #00b1f7;
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
    width: 215px;
    text-align: right;
    float: right;
    position: relative;
    letter-spacing: 0px;
}
.opros :after{
    content: "";
    width: 100%;
    height: 4px;
    background: #00b1f7;
    top: 35px;
    position: absolute;
}
.opros span:not(#step-data) {
    display: block;
    margin-top: 22px;
    font-size: 22px;
    letter-spacing: 0.1px
}
.sec.disactive{
    transform: translateX(-100%)!important;
}
.fact.disactive{
    transform: translateY(100%)!important;
}

.block .sec {
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    z-index: -1;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);
}
.etaps{
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    transform: translateY(100%);
}
.etap[data-etap="0"]{
    transform: translateX(0);
    opacity: 1;
}
.etap{
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    transform: translateX(100%);
}
.etap.active{
    transform: translateX(0);
    opacity: 1;
}
.etap.disactive{
    transform: translateX(-100%);
}
.etaps.active{
    transform: translateY(0);
    opacity: 1;
}
.etaps[data-etap="1"] .line .point{
    margin-left: 0;
}
.etaps[data-etap="2"] .line .point{
    margin-left: 392.5px;
}
.etaps[data-etap="3"] .line .point{
    margin-left: 785px;
}
.etaps.disactive{
    transform: translateY(-100%);
}
.sec {
    background: white;
    min-height: 320px;
    position: relative;
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1); */
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1);
    /* box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1); */
    position: absolute;
    padding: 20px 33px;
    border-radius: 10px;
    transform: translateX(100%);
    transition: all 0.35s;
}
.block .sec_n {
    position: absolute;
    top: 20.8%;
    width: 100%;
    margin-top: 61px
}
.sec_n {
    background: white;
    min-height: 250px;
    position: relative;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1);
    padding:  33px
}
#opros-wrap[data-step="1"]:before{width:12.5%}
#opros-wrap[data-step="2"]:before{width:25%}
#opros-wrap[data-step="3"]:before{width:37.5%}
#opros-wrap[data-step="4"]:before{width:50%}
#opros-wrap[data-step="5"]:before{width:62.5%}
#opros-wrap[data-step="6"]:before{width:75%}
#opros-wrap[data-step="7"]:before{width: 87.5%;}
#opros-wrap[data-step="8"]:before{width:100%}
#opros-wrap:before {
    content: "";
    /* width: 135px; */
    height: 4px;
    background: #2D5187;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    transition: all 0.35s ease-in-out;
}
.facts{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.fact{
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    z-index: -1;
    opacity: 0;
    transition: all 0.35s ease-in-out;
    transform: translateY(-100%);
}
.sec[data-step="8"] h2:not(.fo){
    min-height: initial;
}
.et.fixed{
    margin-top: 0;
}
.sec h2 {
    font-size: 26px;
    color: black;
    margin-top: 20px;
    line-height: 34px;
    letter-spacing: 0.1px;
    /* min-height: 68px; */
    padding: 0px 40px;
}
.etap .et{
    opacity: 0;
    margin-bottom: 21px;
}
.sec_n h2 {
    font-size: 26px;
    color: black;
    margin-top: 42px;
    line-height: 34px;
    letter-spacing: 0.1px;
    min-height: 68px;
    padding: 0px 40px
}
.btn_gr {
    text-align: center;
    font-size: 0;
    word-spacing: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
    position: absolute;
    left: 0;
    padding: 0 25px;
    /* bottom: 10px; */
    width: 100%;
}
.btn_gr a{
    border: 5px solid #00abff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    display: inline-block;
    width: 305px;
    height: 75px;
    margin: 5px;
    word-spacing: 0px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0px;
    box-sizing: border-box;
    vertical-align: top;
    transition: color 0.25s, background 0.25s;
}
.btn_gr a:hover{
    background: url(../img/bg_btn.png)no-repeat top center;
    background-size: cover;
    color: white;
    border: 0px solid transparent;
    line-height: 78px;
}
.back:hover{
    color: #00B1F7;
}
.back {
    text-transform: uppercase;
    color: #cdcdcd;
    position: absolute;
    bottom: 25px;
    font-size: 18px;
    left: 32px;
    transition: all 0.25s;
    /* left: 50%; */
}
.block footer{
    position: absolute;
    bottom: 4.5%;
    width: 100%;
    transform: translateY(50%);
}
footer p {
    color: #525252;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
}
.mid {
    margin-top: 30px;
}

.fak {
    margin-top: 20px!important;
    line-height: 28px!important;
}
.sec h2 span {
    font-weight: 700;
}
.sec p {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 60px;
}
.sec_n h2 span {
    font-weight: 700;
}
.sec_n p {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 60px;

}
.re {
    font-weight: 400!important;
}

.et {
    /* margin-top: 23px!important; */
    margin-bottom: -18px;
}

.et_l {
    float: left;
    width: 490px;
    margin-left: 99px;
}

.et_r {
    float: left;
    width: 200px;
}
.et_l p{
    font-size: 24px;
    color: black;
    text-align: left;
    padding: 0;
}
.et_r p{
    font-size: 24px;
    color: black;
    text-align: left;
    padding: 0px;
}
.line {
    background: url(../img/line.png)no-repeat center;
    display: inline-block;
    width: 836px;
    cursor: pointer;
    position: relative;
    top: 44px;
}

.point {
    background: url(../img/point.png)no-repeat center;
    width: 51px;
    height: 51px;
    cursor: pointer;
    transition: all 0.35s;
}
.et_l h3 {
    color: #00b1f7;
    font-size: 24px;
    text-align: left;
    margin-top: 16px;
    letter-spacing: 0px
}

.etp {
    font-size: 16px!important;
    padding-right: 48px!important;
    margin-top: 9px!important;
    letter-spacing: 0.0px;
    line-height: 19px;
}

.time {
    background: url(../img/time.png)no-repeat top left 2px;
    min-height: 24px;
    margin-top: 15px!important;
    color: #00b1f7!important;
    font-size: 21px!important;
    padding-left: 39px!important;
    letter-spacing: 0.0px
}

.rub {
    background: url(../img/rub.png)no-repeat top left 4px;
    min-height: 20px;
    margin-top: 14px!important;
    font-size: 21px!important;
    padding-left: 39px!important;
    letter-spacing: 0.0px;
    color: #1b1b1b!important;
}

.next {
    background: url(../img/str_r.png)no-repeat top center;
    width: 22px;
    height: 40px;
    position: absolute;
    top: 256px;
    right: 98px
}

.do {
    line-height: 26px!important;
    padding-top: 7px;
}
.btn_gr .do:hover{
    padding-top: 12px;
    line-height: 26px!important;
}
.pp {
    padding: 0px 0px!important;
    line-height: 24px;
}

.fo {
    margin-top: 29px!important
}
form {
    margin-top: 5px;
    font-size: 0;
    word-spacing: 10px;
    text-align: center;
}
form input {
    transition: all 0.25s;
    outline: none;
    border: none;
    display: inline-block;
    vertical-align: top;
    word-spacing: 0;
    font-size:19px;
    color:black;
    text-align: center;
    padding: 0px 15px;
    background-color: #fff;
    color: #b0b0b0;
    width: 230px;
    padding-left: 15px;
    height: 65px;
    border: none;
    border-radius: 10px;
    font-weight: 300;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}
.error-input{
    background: #FFD6D6 url(../img/input.png)no-repeat center;
}
form button{
    border: 5px solid #00abff;
    display: inline-block;
    width: 248px;
    height: 73px;
    word-spacing: 0px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.3px;
    box-sizing: border-box;
    vertical-align: top;
    transition: all 0.25s;
    background-color: white;
    width: 270px;
    height: 65px;
    border: none;
    text-align: center;
    border-radius: 10px;
    background: #fcd75e;
    background: -webkit-linear-gradient(#fce85e,#fcd75e);
    background: linear-gradient(#fce85e,#fcd75e);
    color: #121212;
}
form button:hover{
    /* background: url(../img/bg_btn.png)no-repeat top center; */
    /* background-size: cover; */
    /* color: white; */
    /* border: none; */
    /* line-height: 76px; */
    box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
}
::-webkit-input-placeholder {
    font-size:19px;
    text-align: center;
    color:black;
}
::-moz-placeholder          {
    font-size:19px;
    text-align: center;
    color:black;
}
:-moz-placeholder           {
    font-size:19px;
    text-align: center;
    color:black;
}
:-ms-input-placeholder      {
    font-size:19px;
    text-align: center;
    color:black;
}
.kkon {
    padding: 0!important;
    font-size: 16px!important;
    color: #b5b5b5;
    margin-top: 27px!important;
    margin-bottom: 54px;
}

.sec_opr {
    background: #f0f0f0;
    position: relative;
    width: 100%;
    min-height: 719px;
    padding-top: 109px;
}

.yan_dir {
    background: url(../img/lin_f.png)no-repeat bottom -1px left white;
    min-height: 315px;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    width: 100%;
    /* margin-top: 109px; */
    border-radius: 10px;
    padding-top: 0px;
    padding-top: 81px;
}
.yan_dir h2 {
    font-size: 32px;
    color: black;
    line-height: 33px;
    letter-spacing: -0.3px;
    /* min-height: 68px; */
    /* padding: 0px 40px; */
    border-radius: 10px;
}
    
.btna_gr {
    margin-top: 10px;
    font-size: 0;
    word-spacing: 25px;
    margin-top: 20px;
    padding: 0 40px;
}
.btna_gr a {
    width: 285px;
    height: 53px;
    border-radius: 30px;
    border: 5px solid #f1d56f;
    display: inline-block;
    font-size: 19px;
    line-height: 44px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    vertical-align: top;
    word-spacing: normal;
    margin: 5px;
    transition: background 0.25s, color 0.25s;
}
.btna_gr a:hover {
    color: white;
    background: url(../img/btn_h.png)no-repeat center;
    background-size: cover;
    border: none;
    line-height: 44px;
    padding: 5px;
}
.re.do{
    line-height: 21px!important;
    padding-top: 0;
}
.bak {
    background: url(../img/back.png)no-repeat left;
    min-height: 17px;
    color: #cdcdcd;
    font-size: 17px;
    position: absolute;
    bottom: 21px;
    left: 27px;
    padding-left: 15px;
}

.kr_op {
    font-size: 15px;
    color: #c4c4c4;
    margin-top: 29px
}
.sec.active{
    opacity: 1;
    z-index: 1;
    transform: translateX(0);
}
.fact.active{
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}
.fins[data-fins="1"]{
    padding-top: 90px;
}
.fins[data-fins="2"]{
    padding-top: 60px;
}
.fins.active{
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
}
.fins.disactive{
    transform: translateY(100%);
}
.fins{
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
    z-index: -1;
    opacity: 0;
    left: 0;
    transition: all 0.35s ease-in-out;
    transform: translateY(-100%);
}
.okgo.active{
    transform: translateY(0);
    opacity: 1;
}
.okgo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: -1;
    opacity: 0;
    padding-top: 120px;
    left: 0;
    transition: all 0.35s ease-in-out;
    transform: translateY(100%);
}
#opros-wrap{
    height: 320px;
    width: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1);
    min-height: 315px;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    width: 100%;
    /* margin-top: 109px; */
    border-radius: 10px;
    overflow: hidden;
    padding-top: 0px;
    /* margin-top: 40px; */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.sec[data-step="5"] h2{
    margin-top: 0;
}
.sec[data-step="5"] .btna_gr{
    margin-top: 10px;
}
.site-link-btn{
    width: 200px!important;
    height: 40px!important;
    line-height: 30px!important;
    margin-bottom: 20px!important;
}
.etap[data-etap="1"] .btna_gr{
    margin-top: 0;
}
.fins[data-fins="0"] .btna_gr{
    margin-top: 10px;
}
#fix-opros-owerflow{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    border-radius: 10px;
}